//custom variables
$primary:#5265E1;
$secondary:#FA5959;

@media (min-width: 768px) {
    .bg-Login {
        background-color: $secondary;
    }

}

body {
    overflow-x: hidden;
}

.tipoBold {
    font-weight: bold;
}

.imagen {
    width: 80vh;
}

.imagenTab {
    width: 60vh;
    height: 80%;
}

.figura {
    width: 120%;
    height: 80%;
    z-index: -1;
    border-radius: 120px 0px 0px 120px;
    margin: 30% 0% 0% 30%;
}

.figuraIzquierda {
    width: 120%;
    height: 35%;
    z-index: -1;
    border-radius: 120px 120px 120px 120px;
    margin: 10% 100% 0% 0%;
    
}

.imgMenu {
    height: 20px;
}

.medidaDiv {
    width: 100%;
    height: 300px;
}

.nav-link.active {
    width: 100%;
    border-bottom: solid 3px #FA5959 !important;
}

.medidaBotoTab {
    width: 100%;
    border-bottom: solid 1px #5b5b5b;
}

.medidaDivCard {
    width: 100%;
    height: 500px;
}


.medidaBotoCard {
    width: 100%;
}

.lineaPuntos {
    border-bottom-style: dotted;
    border-bottom-color: #dadada;
    border-bottom-width: 6px;
}

.imgCard {
    width: 30vh; 
}

@media (max-width: 576px) {
    .navbar-nav .nav-link {
        color: white;
        border-bottom: $primary solid 1px;
    }

    .medidaDiv {
        width: 100%;
        height: 300px;
    }
    

    .figura {
        height: 65%;
        margin: 20% 0% 0% 30%;
    }

    .imagen {
        width: 70vh;
    }

    .imagenTab {
        width: 60vh;
        height: 100%;
    }

    .figuraIzquierda {
        margin: 20% 100% 0% 0%;
        
    }
}

//import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';